node_red.json
[
    {
        "id": "70d98435c4c73590",
        "type": "tab",
        "label": "Desafio 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d35a9f2b8958dd9a",
        "type": "tab",
        "label": "Desafio 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acd9db1d4a56478e",
        "type": "tab",
        "label": "Desafio 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05b2cea84dd0078e",
        "type": "ui_tab",
        "name": "Desafio 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1298647b8c190ec8",
        "type": "ui_group",
        "name": "São Paulo",
        "tab": "05b2cea84dd0078e",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": true,
        "className": ""
    },
    {
        "id": "b2132c0d8aa5d261",
        "type": "ui_group",
        "name": "Rio de Janeiro",
        "tab": "05b2cea84dd0078e",
        "order": 2,
        "disp": true,
        "width": "30",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c6c7f3ee6c656df0",
        "type": "ui_group",
        "name": "Comparação temperatura",
        "tab": "05b2cea84dd0078e",
        "order": 3,
        "disp": true,
        "width": 15,
        "collapse": true,
        "className": ""
    },
    {
        "id": "71b4992b3c9bf648",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "24788783c2341fbe",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "6bcdaf71bbe6d928",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "163ed5758fd49f63",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "0736810d6406cabd",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "0cab7e325ea50efd",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "3540d48f685eae69",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "c06a2e20eaa9a484",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "19ab921d69f795a3",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 15,
        "width": 11,
        "height": 1
    },
    {
        "id": "8b00cb3bfc7bbee2",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "104e44a677a2546e",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 17,
        "width": 11,
        "height": 1
    },
    {
        "id": "efe213e2da0c97c7",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "1298647b8c190ec8",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "7a54030acf469e10",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5ae842e6226db0c",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "464fb7567af02b90",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "22831a55cc871479",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "e0a615b6c2bb65c8",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "25e322d029e7b27b",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "c53eef18080c361a",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "73b1f9cb26823304",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "46f02a7c36994060",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 15,
        "width": 11,
        "height": 1
    },
    {
        "id": "d825e88e1f58ce96",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "204223769adfeb4e",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 17,
        "width": 11,
        "height": 1
    },
    {
        "id": "96125e6cdd5b62a6",
        "type": "ui_spacer",
        "z": "d35a9f2b8958dd9a",
        "name": "spacer",
        "group": "b2132c0d8aa5d261",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "9ae881f882df0094",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c90ea7f2a6ebd074",
        "type": "mqtt-broker",
        "name": "mqtt server",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a96f211746ce8f64",
        "type": "inject",
        "z": "70d98435c4c73590",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "af6127c8471e660a"
            ]
        ]
    },
    {
        "id": "af6127c8471e660a",
        "type": "http request",
        "z": "70d98435c4c73590",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=44.34&lon=10.99&appid=ae10626011dbb050cfebc1ffa52f7829",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 60,
        "wires": [
            [
                "62d4fa92d8d3e9d6"
            ]
        ]
    },
    {
        "id": "750c3eb96ef345d7",
        "type": "debug",
        "z": "70d98435c4c73590",
        "name": "debug temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 20,
        "wires": []
    },
    {
        "id": "fdf450f4dd8b9111",
        "type": "change",
        "z": "70d98435c4c73590",
        "name": "get temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 20,
        "wires": [
            [
                "750c3eb96ef345d7"
            ]
        ]
    },
    {
        "id": "62d4fa92d8d3e9d6",
        "type": "json",
        "z": "70d98435c4c73590",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "fdf450f4dd8b9111",
                "932358f17ab8d12a"
            ]
        ]
    },
    {
        "id": "932358f17ab8d12a",
        "type": "function",
        "z": "70d98435c4c73590",
        "name": "function 1",
        "func": "msg.payload = {\n    \"temperatura\": msg.payload.main.temp,\n    \"min\": msg.payload.main.temp_min,\n    \"max\": msg.payload.main.temp_max,\n    \"vento\": msg.payload.wind.speed\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 100,
        "wires": [
            [
                "07d62ae00cf79fdf"
            ]
        ]
    },
    {
        "id": "07d62ae00cf79fdf",
        "type": "debug",
        "z": "70d98435c4c73590",
        "name": "debug obj",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "98111daccec385ac",
        "type": "inject",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "088856e8118f95e1",
                "1d40716beee1a53d"
            ]
        ]
    },
    {
        "id": "088856e8118f95e1",
        "type": "http request",
        "z": "d35a9f2b8958dd9a",
        "name": "São Paulo",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-23.54&lon=-46.63&appid=ae10626011dbb050cfebc1ffa52f7829&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "3277977ffaf73ce4"
            ]
        ]
    },
    {
        "id": "1d40716beee1a53d",
        "type": "http request",
        "z": "d35a9f2b8958dd9a",
        "name": "Rio de Janeiro",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-22.90&lon=-43.20&appid=ae10626011dbb050cfebc1ffa52f7829&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 680,
        "wires": [
            [
                "ca9b42dc8b833f52"
            ]
        ]
    },
    {
        "id": "3277977ffaf73ce4",
        "type": "json",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "5c5b369872a106b1"
            ]
        ]
    },
    {
        "id": "5c5b369872a106b1",
        "type": "function",
        "z": "d35a9f2b8958dd9a",
        "name": "function 2",
        "func": "msg.payload = {\n    \"temp_atual\": msg.payload.main.temp,\n    \"temp_min\": msg.payload.main.temp_min,\n    \"temp_max\": msg.payload.main.temp_max,\n    \"vento\": msg.payload.wind.speed,\n    \"humidade\": msg.payload.main.humidity,\n    \"sensacao_termica\": msg.payload.main.feels_like\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 280,
        "wires": [
            [
                "c44d6af238b0f9e8",
                "3c28389bba5916cf",
                "70d56cbacfae79c0",
                "114c2f55abb2b679",
                "5c6cbdb141799792",
                "edcca69341f40ea8"
            ]
        ]
    },
    {
        "id": "c44d6af238b0f9e8",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "temperatura atual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_atual",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 160,
        "wires": [
            [
                "8f68ce8d8001ef6c",
                "65f72e872fd356ad"
            ]
        ]
    },
    {
        "id": "ca9b42dc8b833f52",
        "type": "json",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "f4e563095344d567"
            ]
        ]
    },
    {
        "id": "9df7274e9f010abb",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "1298647b8c190ec8",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura Minima",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 220,
        "wires": []
    },
    {
        "id": "3c28389bba5916cf",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "temperatura minima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 220,
        "wires": [
            [
                "9df7274e9f010abb"
            ]
        ]
    },
    {
        "id": "e3462cbd862c8e5f",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "1298647b8c190ec8",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura Maxima",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 280,
        "wires": []
    },
    {
        "id": "70d56cbacfae79c0",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "temperatura maxima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 280,
        "wires": [
            [
                "e3462cbd862c8e5f"
            ]
        ]
    },
    {
        "id": "ee5eb0e759a05503",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "1298647b8c190ec8",
        "order": 12,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "Vento",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "114c2f55abb2b679",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vento",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "ee5eb0e759a05503"
            ]
        ]
    },
    {
        "id": "2f3430c82b46fdd9",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "1298647b8c190ec8",
        "order": 5,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "Umidade",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "5c6cbdb141799792",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "humidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidade",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 400,
        "wires": [
            [
                "2f3430c82b46fdd9"
            ]
        ]
    },
    {
        "id": "a3ebb1fe78139e25",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "1298647b8c190ec8",
        "order": 10,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Sensação térmica",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 460,
        "wires": []
    },
    {
        "id": "edcca69341f40ea8",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "sensacao termica",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensacao_termica",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 460,
        "wires": [
            [
                "a3ebb1fe78139e25"
            ]
        ]
    },
    {
        "id": "8f68ce8d8001ef6c",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "1298647b8c190ec8",
        "order": 1,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura Atual",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 160,
        "wires": []
    },
    {
        "id": "f4e563095344d567",
        "type": "function",
        "z": "d35a9f2b8958dd9a",
        "name": "function 3",
        "func": "msg.payload = {\n    \"temp_atual\": msg.payload.main.temp,\n    \"temp_min\": msg.payload.main.temp_min,\n    \"temp_max\": msg.payload.main.temp_max,\n    \"vento\": msg.payload.wind.speed,\n    \"humidade\": msg.payload.main.humidity,\n    \"sensacao_termica\": msg.payload.main.feels_like\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 680,
        "wires": [
            [
                "3bee2fc972951c8d",
                "c9ce7b0a5c4d394a",
                "7ce4172d3435de10",
                "8de32eba8bb19ad9",
                "4241ac1b5ee41ae7",
                "7a85c30c517bf838"
            ]
        ]
    },
    {
        "id": "3bee2fc972951c8d",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "temperatura atual",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_atual",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 560,
        "wires": [
            [
                "fdd7793f6d0d97e3",
                "ecab7b58d783579b"
            ]
        ]
    },
    {
        "id": "5fd0d38b55134e35",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "b2132c0d8aa5d261",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura Minima",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "c9ce7b0a5c4d394a",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "temperatura minima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 620,
        "wires": [
            [
                "5fd0d38b55134e35"
            ]
        ]
    },
    {
        "id": "64be52349aa6b5ab",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "b2132c0d8aa5d261",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura Maxima",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 680,
        "wires": []
    },
    {
        "id": "7ce4172d3435de10",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "temperatura maxima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 680,
        "wires": [
            [
                "64be52349aa6b5ab"
            ]
        ]
    },
    {
        "id": "d7d2835c88d3561b",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "b2132c0d8aa5d261",
        "order": 12,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "Vento",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 740,
        "wires": []
    },
    {
        "id": "8de32eba8bb19ad9",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vento",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 740,
        "wires": [
            [
                "d7d2835c88d3561b"
            ]
        ]
    },
    {
        "id": "32065474d4c98925",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "b2132c0d8aa5d261",
        "order": 5,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "Umidade",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 800,
        "wires": []
    },
    {
        "id": "4241ac1b5ee41ae7",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "humidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidade",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 800,
        "wires": [
            [
                "32065474d4c98925"
            ]
        ]
    },
    {
        "id": "5fedaf1b3fb6254d",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "b2132c0d8aa5d261",
        "order": 10,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Sensação térmica",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 860,
        "wires": []
    },
    {
        "id": "7a85c30c517bf838",
        "type": "change",
        "z": "d35a9f2b8958dd9a",
        "name": "sensacao termica",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensacao_termica",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 860,
        "wires": [
            [
                "5fedaf1b3fb6254d"
            ]
        ]
    },
    {
        "id": "fdd7793f6d0d97e3",
        "type": "ui_gauge",
        "z": "d35a9f2b8958dd9a",
        "name": "",
        "group": "b2132c0d8aa5d261",
        "order": 1,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura Atual",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 560,
        "wires": []
    },
    {
        "id": "53bda876c0ef7786",
        "type": "ui_chart",
        "z": "d35a9f2b8958dd9a",
        "name": "Comparação temperatura",
        "group": "c6c7f3ee6c656df0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1910,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "904cca7609e2f9cf",
        "type": "function",
        "z": "d35a9f2b8958dd9a",
        "name": "function 4",
        "func": "var msgSp = {};\nvar msgRio = {};\n\nif (msg.topic == \"SP\"){\n    msgSp.payload = msg.payload.temp;\n    msgSp.topic = 'SP';\n}\n\nif(msg.topic == \"Rio\"){\n    msgRio.payload = msg.payload.temp;\n    msgRio.topic = 'Rio';\n}\n   \nreturn [msgSp, msgRio];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 320,
        "wires": [
            [
                "53bda876c0ef7786"
            ],
            [
                "53bda876c0ef7786"
            ]
        ]
    },
    {
        "id": "ecab7b58d783579b",
        "type": "function",
        "z": "d35a9f2b8958dd9a",
        "name": "function 5",
        "func": "msg.payload = {\n    temp: msg.payload\n}\n\nmsg.topic = \"Rio\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 520,
        "wires": [
            [
                "904cca7609e2f9cf"
            ]
        ]
    },
    {
        "id": "65f72e872fd356ad",
        "type": "function",
        "z": "d35a9f2b8958dd9a",
        "name": "function 6",
        "func": "msg.payload = {\n    temp: msg.payload\n}\n\nmsg.topic = \"SP\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 100,
        "wires": [
            [
                "904cca7609e2f9cf"
            ]
        ]
    },
    {
        "id": "56f0406dc6234426",
        "type": "inject",
        "z": "acd9db1d4a56478e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Desafio 5",
        "payloadType": "str",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "ea9eb0dd7a9b2f6d"
            ]
        ]
    },
    {
        "id": "ea9eb0dd7a9b2f6d",
        "type": "mqtt out",
        "z": "acd9db1d4a56478e",
        "name": "",
        "topic": "viniciusSantos/desafio5",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c90ea7f2a6ebd074",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "eb3286e320dc1ae6",
        "type": "mqtt in",
        "z": "acd9db1d4a56478e",
        "name": "",
        "topic": "viniciusSantos/desafio5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c90ea7f2a6ebd074",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "5dc98eb80110396d"
            ]
        ]
    },
    {
        "id": "5dc98eb80110396d",
        "type": "debug",
        "z": "acd9db1d4a56478e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    }
]